*{
  margin: 0;
  padding: 0;

}
body{
  background-color: aqua;
}
.NavBar{
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}
.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.InnerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;

}
.InnerContainer ul li{
  display: inline block;
 list-style: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.InnerContainer{
  background-color: antiquewhite;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 24rem;
    margin: auto;
    border-radius: 32px;
}
.InnerContainer h1{
  text-align: center;
}
.card{
  border: 2px solid black;
  border-radius: 25px;
  background-color:navy;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
margin: 2rem;
width: 77%;
height: 15rem;
}
.card img{
  width: 100px;
  height: 100x;
  border: 3px solid white;
  border-radius: 50%;

}
.card p{
  font-style: italic;
  color: white;
}

.card p span{
  color: white;

  font-weight: 800;
}
button{
  height: 43px;
  width: 131px;
  margin: 2rem;
  color: white;
  background-color: red;
  border-radius: 25px;
  box-shadow: 5px 10px 18px red;
  
}
button:hover{
  background-color: rgb(102, 255, 71);
  color: black;
  box-shadow: 5px 10px 18px rgb(102, 255, 71);
}